main{
  display: flex;
  flex-direction: row;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  gap: 12px;
  cursor: pointer;
}

.menuItem img {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  object-fit: contain;
}

.label {
  font-weight: bold;
  color: white;
}
